body {
	margin: 0;
	background: #222;
	font-family: system-ui;
	display: grid;
	place-content: center;
	min-height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.TwitterCard {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: .8rem;
	justify-content: space-between;
}

.TwitterCard-header {
	display: flex;
	align-items: center;
	gap: 4px;
}

.TwitterCard-avatar {
	/* display: inline-block; */
	width: 48px;
	width: 48px;
	border-radius: 1000px;
}

.TwitterCard-info {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.TwitterCard-name {
	display: flex;
	color: rgb(255, 255, 255);
	margin-top: 0px;
}

.TwitterCard-username {
	/* display: flex;
	color: rgb(255, 255, 255);
	margin-bottom: 0px; */
	opacity: .6;
}

.TwitterCard-button {
	margin-left: 16px;
	border: 0;
	border-radius: 999px;
	padding: 6px 16px;;
	font-weight: bold;	
}